In [2]:
import pandas as pd
from math import comb
from ax.service.ax_client import AxClient
import time
import sys

sys.path.append('../../../0_helper_functions')
import sdlnano as sdl
import calculation as calc

In [3]:
# Design space size calculation


def calculate_combinations(num_variables, total_sum, step):
    steps = int(total_sum / step)
    return comb(steps + num_variables - 1, num_variables - 1)

# Define parameters
step = 0.05
total_sum = 1

# Calculate combinations for each group
count_group1 = calculate_combinations(10, total_sum, step)  # 3 Solid lipids + 3 Polymers + 3 Liquid lipids + 1 Drug
count_group2 = calculate_combinations(4, total_sum, step)   # 3 Surfactants + 1 Water

# Calculate total combinations
total_combinations = count_group1 * count_group2


print("organic design space size: ", round(count_group1/(1e6),2), 'Million')
print("aqueous design space size: ", round(count_group2/(1e3),2), 'Thousand')
print("design space size: ", round(total_combinations/(1e9),2), 'Billion')

organic design space size:  10.02 Million
aqueous design space size:  1.77 Thousand
design space size:  17.74 Billion

# Check the iteration number

In [4]:
iteration = sdl.get_iteration_number()
print("This is the iteration: #", iteration)

This is the iteration: # 4

# Check the drug

In [5]:
drug = 'ACE'
print("This is the drug:", drug)

This is the drug: ACE

# Optimizer initialization (N/A)

# Generate recommendations

In [5]:
time_start = time.time()

previous_optimizer_file_name = '../iteration_' + str(iteration-1) + '/optimizer/optimizer_load_' + str(iteration-1) + '.json'
# generate recomms
ax_client_init = AxClient.load_from_json_file(previous_optimizer_file_name)
unlabeled_trial, ax_client_design = sdl.generate_trials(ax_client=ax_client_init, num_of_trials = 16, drug = drug, bopt=1)

time_end = time.time()

print(round((time_end-time_start)/60), 'min')

/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/botorch/acquisition/multi_objective/logei.py:418: RuntimeWarning: `cache_root` is only supported for GPyTorchModels that are not MultiTask models and don't produce a TransformedPosterior. Got a model of type <class 'botorch.models.model.ModelList'>. Setting `cache_root = False`.
  NoisyExpectedHypervolumeMixin.__init__(
[INFO 08-03 06:47:46] ax.service.ax_client: Generated new trial 64 with parameters {'Drug': 50, 'SL_1': 0, 'SL_2': 0, 'SL_3': 0, 'LL_1': 0, 'LL_2': 0, 'LL_3': 0, 'P_1': 0, 'P_2': 0, 'P_3': 0, 'S_1': 0, 'S_2': 100, 'S_3': 0, 'Water': 0} using model BoTorch.
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/ax/core/data.py:293: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return cls(df=pd.concat(dfs, axis=0, sort=True))
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/botorch/acquisition/multi_objective/logei.py:418: RuntimeWarning: `cache_root` is only supported for GPyTorchModels that are not MultiTask models and don't produce a TransformedPosterior. Got a model of type <class 'botorch.models.model.ModelList'>. Setting `cache_root = False`.
  NoisyExpectedHypervolumeMixin.__init__(
[INFO 08-03 06:48:44] ax.service.ax_client: Generated new trial 65 with parameters {'Drug': 50, 'SL_1': 0, 'SL_2': 0, 'SL_3': 0, 'LL_1': 0, 'LL_2': 0, 'LL_3': 0, 'P_1': 0, 'P_2': 0, 'P_3': 0, 'S_1': 0, 'S_2': 100, 'S_3': 0, 'Water': 0} using model BoTorch.
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/ax/core/data.py:293: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return cls(df=pd.concat(dfs, axis=0, sort=True))
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/botorch/acquisition/multi_objective/logei.py:418: RuntimeWarning: `cache_root` is only supported for GPyTorchModels that are not MultiTask models and don't produce a TransformedPosterior. Got a model of type <class 'botorch.models.model.ModelList'>. Setting `cache_root = False`.
  NoisyExpectedHypervolumeMixin.__init__(
[INFO 08-03 06:51:25] ax.service.ax_client: Generated new trial 66 with parameters {'Drug': 50, 'SL_1': 0, 'SL_2': 0, 'SL_3': 0, 'LL_1': 0, 'LL_2': 0, 'LL_3': 0, 'P_1': 0, 'P_2': 0, 'P_3': 0, 'S_1': 0, 'S_2': 100, 'S_3': 0, 'Water': 0} using model BoTorch.
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/ax/core/data.py:293: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return cls(df=pd.concat(dfs, axis=0, sort=True))
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/botorch/acquisition/multi_objective/logei.py:418: RuntimeWarning: `cache_root` is only supported for GPyTorchModels that are not MultiTask models and don't produce a TransformedPosterior. Got a model of type <class 'botorch.models.model.ModelList'>. Setting `cache_root = False`.
  NoisyExpectedHypervolumeMixin.__init__(
[INFO 08-03 06:53:43] ax.service.ax_client: Generated new trial 67 with parameters {'Drug': 50, 'SL_1': 0, 'SL_2': 0, 'SL_3': 0, 'LL_1': 0, 'LL_2': 0, 'LL_3': 0, 'P_1': 0, 'P_2': 0, 'P_3': 0, 'S_1': 0, 'S_2': 100, 'S_3': 0, 'Water': 0} using model BoTorch.
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/ax/core/data.py:293: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return cls(df=pd.concat(dfs, axis=0, sort=True))
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/botorch/acquisition/multi_objective/logei.py:418: RuntimeWarning: `cache_root` is only supported for GPyTorchModels that are not MultiTask models and don't produce a TransformedPosterior. Got a model of type <class 'botorch.models.model.ModelList'>. Setting `cache_root = False`.
  NoisyExpectedHypervolumeMixin.__init__(
[INFO 08-03 06:55:38] ax.service.ax_client: Generated new trial 68 with parameters {'Drug': 50, 'SL_1': 0, 'SL_2': 0, 'SL_3': 0, 'LL_1': 0, 'LL_2': 0, 'LL_3': 0, 'P_1': 0, 'P_2': 0, 'P_3': 0, 'S_1': 0, 'S_2': 100, 'S_3': 0, 'Water': 0} using model BoTorch.
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/ax/core/data.py:293: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return cls(df=pd.concat(dfs, axis=0, sort=True))
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/botorch/acquisition/multi_objective/logei.py:418: RuntimeWarning: `cache_root` is only supported for GPyTorchModels that are not MultiTask models and don't produce a TransformedPosterior. Got a model of type <class 'botorch.models.model.ModelList'>. Setting `cache_root = False`.
  NoisyExpectedHypervolumeMixin.__init__(
[INFO 08-03 06:58:13] ax.service.ax_client: Generated new trial 69 with parameters {'Drug': 50, 'SL_1': 0, 'SL_2': 0, 'SL_3': 0, 'LL_1': 0, 'LL_2': 0, 'LL_3': 0, 'P_1': 0, 'P_2': 0, 'P_3': 0, 'S_1': 0, 'S_2': 100, 'S_3': 0, 'Water': 0} using model BoTorch.
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/ax/core/data.py:293: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return cls(df=pd.concat(dfs, axis=0, sort=True))
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/botorch/acquisition/multi_objective/logei.py:418: RuntimeWarning: `cache_root` is only supported for GPyTorchModels that are not MultiTask models and don't produce a TransformedPosterior. Got a model of type <class 'botorch.models.model.ModelList'>. Setting `cache_root = False`.
  NoisyExpectedHypervolumeMixin.__init__(
[INFO 08-03 06:59:31] ax.service.ax_client: Generated new trial 70 with parameters {'Drug': 50, 'SL_1': 0, 'SL_2': 0, 'SL_3': 0, 'LL_1': 0, 'LL_2': 0, 'LL_3': 0, 'P_1': 0, 'P_2': 0, 'P_3': 0, 'S_1': 0, 'S_2': 100, 'S_3': 0, 'Water': 0} using model BoTorch.
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/ax/core/data.py:293: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return cls(df=pd.concat(dfs, axis=0, sort=True))
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/botorch/acquisition/multi_objective/logei.py:418: RuntimeWarning: `cache_root` is only supported for GPyTorchModels that are not MultiTask models and don't produce a TransformedPosterior. Got a model of type <class 'botorch.models.model.ModelList'>. Setting `cache_root = False`.
  NoisyExpectedHypervolumeMixin.__init__(
[INFO 08-03 07:02:12] ax.service.ax_client: Generated new trial 71 with parameters {'Drug': 50, 'SL_1': 0, 'SL_2': 0, 'SL_3': 0, 'LL_1': 0, 'LL_2': 0, 'LL_3': 0, 'P_1': 0, 'P_2': 0, 'P_3': 0, 'S_1': 0, 'S_2': 100, 'S_3': 0, 'Water': 0} using model BoTorch.
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/ax/core/data.py:293: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return cls(df=pd.concat(dfs, axis=0, sort=True))
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/botorch/acquisition/multi_objective/logei.py:418: RuntimeWarning: `cache_root` is only supported for GPyTorchModels that are not MultiTask models and don't produce a TransformedPosterior. Got a model of type <class 'botorch.models.model.ModelList'>. Setting `cache_root = False`.
  NoisyExpectedHypervolumeMixin.__init__(
[INFO 08-03 07:03:34] ax.service.ax_client: Generated new trial 72 with parameters {'Drug': 50, 'SL_1': 0, 'SL_2': 0, 'SL_3': 0, 'LL_1': 0, 'LL_2': 1, 'LL_3': 0, 'P_1': 0, 'P_2': 0, 'P_3': 0, 'S_1': 0, 'S_2': 100, 'S_3': 0, 'Water': 0} using model BoTorch.
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/ax/core/data.py:293: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return cls(df=pd.concat(dfs, axis=0, sort=True))
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/botorch/acquisition/multi_objective/logei.py:418: RuntimeWarning: `cache_root` is only supported for GPyTorchModels that are not MultiTask models and don't produce a TransformedPosterior. Got a model of type <class 'botorch.models.model.ModelList'>. Setting `cache_root = False`.
  NoisyExpectedHypervolumeMixin.__init__(
[INFO 08-03 07:05:30] ax.service.ax_client: Generated new trial 73 with parameters {'Drug': 67, 'SL_1': 0, 'SL_2': 0, 'SL_3': 0, 'LL_1': 0, 'LL_2': 0, 'LL_3': 0, 'P_1': 0, 'P_2': 0, 'P_3': 0, 'S_1': 0, 'S_2': 99, 'S_3': 0, 'Water': 0} using model BoTorch.
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/ax/core/data.py:293: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return cls(df=pd.concat(dfs, axis=0, sort=True))
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/botorch/acquisition/multi_objective/logei.py:418: RuntimeWarning: `cache_root` is only supported for GPyTorchModels that are not MultiTask models and don't produce a TransformedPosterior. Got a model of type <class 'botorch.models.model.ModelList'>. Setting `cache_root = False`.
  NoisyExpectedHypervolumeMixin.__init__(
[INFO 08-03 07:07:17] ax.service.ax_client: Generated new trial 74 with parameters {'Drug': 50, 'SL_1': 0, 'SL_2': 0, 'SL_3': 0, 'LL_1': 0, 'LL_2': 0, 'LL_3': 0, 'P_1': 0, 'P_2': 0, 'P_3': 0, 'S_1': 0, 'S_2': 91, 'S_3': 0, 'Water': 0} using model BoTorch.
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/ax/core/data.py:293: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return cls(df=pd.concat(dfs, axis=0, sort=True))
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/botorch/acquisition/multi_objective/logei.py:418: RuntimeWarning: `cache_root` is only supported for GPyTorchModels that are not MultiTask models and don't produce a TransformedPosterior. Got a model of type <class 'botorch.models.model.ModelList'>. Setting `cache_root = False`.
  NoisyExpectedHypervolumeMixin.__init__(
[INFO 08-03 07:09:21] ax.service.ax_client: Generated new trial 75 with parameters {'Drug': 49, 'SL_1': 0, 'SL_2': 0, 'SL_3': 0, 'LL_1': 0, 'LL_2': 0, 'LL_3': 0, 'P_1': 0, 'P_2': 0, 'P_3': 0, 'S_1': 0, 'S_2': 91, 'S_3': 0, 'Water': 0} using model BoTorch.
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/ax/core/data.py:293: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return cls(df=pd.concat(dfs, axis=0, sort=True))
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/botorch/acquisition/multi_objective/logei.py:418: RuntimeWarning: `cache_root` is only supported for GPyTorchModels that are not MultiTask models and don't produce a TransformedPosterior. Got a model of type <class 'botorch.models.model.ModelList'>. Setting `cache_root = False`.
  NoisyExpectedHypervolumeMixin.__init__(
[INFO 08-03 07:12:21] ax.service.ax_client: Generated new trial 76 with parameters {'Drug': 50, 'SL_1': 8, 'SL_2': 0, 'SL_3': 0, 'LL_1': 0, 'LL_2': 0, 'LL_3': 0, 'P_1': 0, 'P_2': 0, 'P_3': 0, 'S_1': 0, 'S_2': 100, 'S_3': 0, 'Water': 0} using model BoTorch.
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/ax/core/data.py:293: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return cls(df=pd.concat(dfs, axis=0, sort=True))
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/botorch/acquisition/multi_objective/logei.py:418: RuntimeWarning: `cache_root` is only supported for GPyTorchModels that are not MultiTask models and don't produce a TransformedPosterior. Got a model of type <class 'botorch.models.model.ModelList'>. Setting `cache_root = False`.
  NoisyExpectedHypervolumeMixin.__init__(
[INFO 08-03 07:13:49] ax.service.ax_client: Generated new trial 77 with parameters {'Drug': 67, 'SL_1': 0, 'SL_2': 0, 'SL_3': 0, 'LL_1': 0, 'LL_2': 0, 'LL_3': 0, 'P_1': 0, 'P_2': 0, 'P_3': 0, 'S_1': 0, 'S_2': 96, 'S_3': 0, 'Water': 0} using model BoTorch.
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/ax/core/data.py:293: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return cls(df=pd.concat(dfs, axis=0, sort=True))
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/botorch/acquisition/multi_objective/logei.py:418: RuntimeWarning: `cache_root` is only supported for GPyTorchModels that are not MultiTask models and don't produce a TransformedPosterior. Got a model of type <class 'botorch.models.model.ModelList'>. Setting `cache_root = False`.
  NoisyExpectedHypervolumeMixin.__init__(
[INFO 08-03 07:15:12] ax.service.ax_client: Generated new trial 78 with parameters {'Drug': 50, 'SL_1': 0, 'SL_2': 0, 'SL_3': 0, 'LL_1': 0, 'LL_2': 0, 'LL_3': 0, 'P_1': 0, 'P_2': 0, 'P_3': 0, 'S_1': 0, 'S_2': 91, 'S_3': 0, 'Water': 0} using model BoTorch.
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/ax/core/data.py:293: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return cls(df=pd.concat(dfs, axis=0, sort=True))
/Users/zeqing/opt/anaconda3/envs/sdlnano_plot/lib/python3.11/site-packages/botorch/acquisition/multi_objective/logei.py:418: RuntimeWarning: `cache_root` is only supported for GPyTorchModels that are not MultiTask models and don't produce a TransformedPosterior. Got a model of type <class 'botorch.models.model.ModelList'>. Setting `cache_root = False`.
  NoisyExpectedHypervolumeMixin.__init__(
[INFO 08-03 07:16:09] ax.service.ax_client: Generated new trial 79 with parameters {'Drug': 67, 'SL_1': 0, 'SL_2': 0, 'SL_3': 0, 'LL_1': 0, 'LL_2': 0, 'LL_3': 0, 'P_1': 0, 'P_2': 0, 'P_3': 0, 'S_1': 0, 'S_2': 99, 'S_3': 0, 'Water': 0} using model BoTorch.

29 min

In [6]:
# process the trails into ratios

unlabeled_trial_processed = sdl.process_trails(unlabeled_trial)
unlabeled_trial_processed.describe()

,trial_index,Drug,SL_1,SL_2,SL_3,LL_1,LL_2,LL_3,P_1,P_2,P_3,S_1,S_2,S_3,Water
count,16.000000,16.000000,16.000000,16.0,16.0,16.0,16.00000,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0
mean,71.500000,0.990125,0.008625,0.0,0.0,0.0,0.00125,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
std,4.760952,0.034529,0.034500,0.0,0.0,0.0,0.00500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,64.000000,0.862000,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
25%,67.750000,1.000000,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
50%,71.500000,1.000000,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
75%,75.250000,1.000000,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
max,79.000000,1.000000,0.138000,0.0,0.0,0.0,0.02000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [7]:
unlabeled_trial
unlabeled_trial.describe()

,trial_index,Drug,SL_1,SL_2,SL_3,LL_1,LL_2,LL_3,P_1,P_2,P_3,S_1,S_2,S_3,Water
count,16.000000,16.000000,16.0,16.0,16.0,16.0,16.0000,16.0,16.0,16.0,16.0,16.0,16.000000,16.0,16.0
mean,71.500000,53.125000,0.5,0.0,0.0,0.0,0.0625,0.0,0.0,0.0,0.0,0.0,97.937500,0.0,0.0
std,4.760952,6.888396,2.0,0.0,0.0,0.0,0.2500,0.0,0.0,0.0,0.0,0.0,3.586433,0.0,0.0
min,64.000000,49.000000,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,91.000000,0.0,0.0
25%,67.750000,50.000000,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,98.250000,0.0,0.0
50%,71.500000,50.000000,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,100.000000,0.0,0.0
75%,75.250000,50.000000,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,100.000000,0.0,0.0
max,79.000000,67.000000,8.0,0.0,0.0,0.0,1.0000,0.0,0.0,0.0,0.0,0.0,100.000000,0.0,0.0

In [8]:
# Convert ratios to volumes

transfer = calc.converter(unlabeled_trial_processed)
transfer.describe()

,trial_index,Drug,SL_1,SL_2,SL_3,LL_1,LL_2,LL_3,P_1,P_2,P_3,S_1,S_2,S_3,Water,Solvent
count,16.000000,16.000000,16.00000,16.0,16.0,16.0,16.0000,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0
mean,71.500000,346.543750,3.01875,0.0,0.0,0.0,0.4375,0.0,0.0,0.0,0.0,0.0,1000.0,0.0,0.0,0.0
std,4.760952,12.085141,12.07500,0.0,0.0,0.0,1.7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,64.000000,301.700000,0.00000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,1000.0,0.0,0.0,0.0
25%,67.750000,350.000000,0.00000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,1000.0,0.0,0.0,0.0
50%,71.500000,350.000000,0.00000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,1000.0,0.0,0.0,0.0
75%,75.250000,350.000000,0.00000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,1000.0,0.0,0.0,0.0
max,79.000000,350.000000,48.30000,0.0,0.0,0.0,7.0000,0.0,0.0,0.0,0.0,0.0,1000.0,0.0,0.0,0.0

In [9]:
#dead_volume = 3.0 # mL

round(transfer[['Drug','SL_1', 'SL_2', 'SL_3', 'LL_1', 'LL_2', 'LL_3', 'P_1', 'P_2', 'P_3', 'S_1', 'S_2', 'S_3', 'Water', 'Solvent']].sum()/1000,1)

Drug        5.5
SL_1        0.0
SL_2        0.0
SL_3        0.0
LL_1        0.0
LL_2        0.0
LL_3        0.0
P_1         0.0
P_2         0.0
P_3         0.0
S_1         0.0
S_2        16.0
S_3         0.0
Water       0.0
Solvent     0.0
dtype: float64

In [6]:
# file path
ax_client_design_path = "optimizer/optimizer_design_" + str(iteration) + ".json"

unlabeled_trial_path = "data/unlabeled_" + str(iteration) + ".xlsx"

unlabeled_trial_processed_path = "data/unlabeled_processed_" + str(iteration) + ".xlsx"

transfer_path = 'data/transfer_' + str(iteration) + '.xlsx'

In [11]:
ax_client_design.save_to_json_file(ax_client_design_path)

unlabeled_trial.to_excel(unlabeled_trial_path, index=False)

unlabeled_trial_processed.to_excel(unlabeled_trial_processed_path, index=False)

transfer.to_excel(transfer_path, index = False)

# Generate new protocol

In [12]:
# Paths
template_protocol = '../../templates/OT_protocol_template.py'

output_script_path_1 = 'protocol/iteration_' + str(iteration) + '_OT_2_protocol_1.py'
output_script_path_2 = 'protocol/iteration_' + str(iteration) + '_OT_2_protocol_2.py'

In [13]:
# Update the script with Excel data
updated_script = calc.update_transfer_script(template_protocol, transfer_path, output_script_path_1, output_script_path_2)

In [14]:
updated_script

('protocol/iteration_4_OT_2_protocol_1.py',
 'protocol/iteration_4_OT_2_protocol_2.py')

# Perform experiment

# Results

In [7]:
results = calc.parameters_and_complexity(iteration)
results

,trial_index,Drug,SL_1,SL_2,SL_3,LL_1,LL_2,LL_3,P_1,P_2,P_3,S_1,S_2,S_3,Water,Complexity,Complexity_STD
0,64,1.000,0.000,0,0,0,0.00,0,0,0,0,0,1,0,0,1,0
1,65,1.000,0.000,0,0,0,0.00,0,0,0,0,0,1,0,0,1,0
2,66,1.000,0.000,0,0,0,0.00,0,0,0,0,0,1,0,0,1,0
3,67,1.000,0.000,0,0,0,0.00,0,0,0,0,0,1,0,0,1,0
4,68,1.000,0.000,0,0,0,0.00,0,0,0,0,0,1,0,0,1,0
5,69,1.000,0.000,0,0,0,0.00,0,0,0,0,0,1,0,0,1,0
6,70,1.000,0.000,0,0,0,0.00,0,0,0,0,0,1,0,0,1,0
7,71,1.000,0.000,0,0,0,0.00,0,0,0,0,0,1,0,0,1,0
8,72,0.980,0.000,0,0,0,0.02,0,0,0,0,0,1,0,0,2,0
9,73,1.000,0.000,0,0,0,0.00,0,0,0,0,0,1,0,0,1,0
10,74,1.000,0.000,0,0,0,0.00,0,0,0,0,0,1,0,0,1,0
11,75,1.000,0.000,0,0,0,0.00,0,0,0,0,0,1,0,0,1,0
12,76,0.862,0.138,0,0,0,0.00,0,0,0,0,0,1,0,0,2,0
13,77,1.000,0.000,0,0,0,0.00,0,0,0,0,0,1,0,0,1,0
14,78,1.000,0.000,0,0,0,0.00,0,0,0,0,0,1,0,0,1,0
15,79,1.000,0.000,0,0,0,0.00,0,0,0,0,0,1,0,0,1,0

In [8]:
size_raw = calc.size_raw(iteration)
size_raw

   Data Quality Item         Size      PD Index
0          Good  A1     25.028681  1.666525e-01
1          Good  A2     24.431515  2.083099e-01
2         Error  A3   1908.673017  5.707963e-01
3       Caution  A4     46.783219  7.339022e-09
4       Caution  A5     24.901976  2.069841e-01
5       Caution  A6     18.266479  5.707963e-01
6          Good  B1     24.835932  2.116881e-01
7       Caution  B2     23.618391  2.331611e-01
8       Caution  B3     23.659851  2.633519e-01
9          Good  B4     24.343256  1.150438e-01
10      Caution  B5     28.592691  5.707963e-01
11         Good  B6     23.436471  3.084006e-01
12         Good  C1     23.262168  1.136350e-01
13         Good  C2     23.563683  1.715395e-01
14         Good  C3     23.647566  2.547038e-01
15         Good  C4     25.638084  1.910050e-01
16         Good  C5     24.351845  2.111255e-01
17         Good  C6     23.986192  3.291121e-01
18      Caution  D1     23.026306  4.463921e-01
19      Caution  D2     27.325654  5.707963e-01
20      Caution  D3     24.593896  5.365162e-01
21      Caution  D4     24.540151  5.707961e-01
22         Good  D5     23.102977  2.044180e-01
23         Good  D6     23.334270  1.457524e-01
24         Good  E1     22.983757  1.194328e-01
25      Caution  E2     28.088268  5.707963e-01
26      Caution  E3     23.362718  3.983681e-01
27         Good  E4     23.813189  2.096072e-01
28         Good  E5     22.567239  1.039226e-01
29      Caution  E6     24.430934  5.707963e-01
30      Caution  F1     23.591392  2.120122e-01
31         Good  F2     23.480475  1.730453e-01
32      Caution  F3     23.511124  4.901375e-01
33         Good  F4     22.698252  2.202396e-01
34      Caution  F5     65.276775  5.707962e-01
35         Good  F6     24.194650  1.831855e-01
36      Caution  G1   1851.836618  5.707963e-01
37      Caution  G2     28.252823  5.707961e-01
38      Caution  G3     30.583142  5.707963e-01
39         Good  G4     22.766711  1.006415e-01
40         Good  G5     23.031369  1.260899e-01
41      Caution  G6     22.989699  5.707938e-01
42         Good  H1     22.287695  3.969735e-01
43      Caution  H2     23.088820  3.891154e-01
44      Caution  H3     23.386377  2.939817e-01
45      Caution  H4     25.617819  5.707963e-01
46      Caution  H5     22.094149  2.735429e-01
47      Caution  H6     64.492187  5.707962e-01

In [9]:
size_processed = calc.process_formulations(size_raw)
size_processed

,Formulation,Size,Size_STD,PDI,PDI_STD,Formulation Quality
0,Formulation 1,24.730098,0.422260,0.187481,0.029456,1
1,Formulation 2,1000.000000,0.000000,1.000000,0.000000,0
2,Formulation 3,1000.000000,0.000000,1.000000,0.000000,0
3,Formulation 4,23.889863,0.641194,0.211722,0.136724,1
4,Formulation 5,23.491139,0.202682,0.179959,0.070910,1
5,Formulation 6,24.658707,0.867646,0.243748,0.074609,1
6,Formulation 7,1000.000000,0.000000,1.000000,0.000000,0
7,Formulation 8,23.218624,0.163549,0.175085,0.041483,1
8,Formulation 9,1000.000000,0.000000,1.000000,0.000000,0
9,Formulation 10,23.190214,0.881020,0.156765,0.074730,1
10,Formulation 11,1000.000000,0.000000,1.000000,0.000000,0
11,Formulation 12,23.446451,1.058113,0.201713,0.026201,1
12,Formulation 13,1000.000000,0.000000,1.000000,0.000000,0
13,Formulation 14,22.899040,0.187142,0.113366,0.017995,1
14,Formulation 15,1000.000000,0.000000,1.000000,0.000000,0
15,Formulation 16,1000.000000,0.000000,1.000000,0.000000,0

In [10]:
results_final = pd.concat([results, size_processed], axis=1)
results_final

,trial_index,Drug,SL_1,SL_2,SL_3,LL_1,LL_2,LL_3,P_1,P_2,...,S_3,Water,Complexity,Complexity_STD,Formulation,Size,Size_STD,PDI,PDI_STD,Formulation Quality
0,64,1.000,0.000,0,0,0,0.00,0,0,0,...,0,0,1,0,Formulation 1,24.730098,0.422260,0.187481,0.029456,1
1,65,1.000,0.000,0,0,0,0.00,0,0,0,...,0,0,1,0,Formulation 2,1000.000000,0.000000,1.000000,0.000000,0
2,66,1.000,0.000,0,0,0,0.00,0,0,0,...,0,0,1,0,Formulation 3,1000.000000,0.000000,1.000000,0.000000,0
3,67,1.000,0.000,0,0,0,0.00,0,0,0,...,0,0,1,0,Formulation 4,23.889863,0.641194,0.211722,0.136724,1
4,68,1.000,0.000,0,0,0,0.00,0,0,0,...,0,0,1,0,Formulation 5,23.491139,0.202682,0.179959,0.070910,1
5,69,1.000,0.000,0,0,0,0.00,0,0,0,...,0,0,1,0,Formulation 6,24.658707,0.867646,0.243748,0.074609,1
6,70,1.000,0.000,0,0,0,0.00,0,0,0,...,0,0,1,0,Formulation 7,1000.000000,0.000000,1.000000,0.000000,0
7,71,1.000,0.000,0,0,0,0.00,0,0,0,...,0,0,1,0,Formulation 8,23.218624,0.163549,0.175085,0.041483,1
8,72,0.980,0.000,0,0,0,0.02,0,0,0,...,0,0,2,0,Formulation 9,1000.000000,0.000000,1.000000,0.000000,0
9,73,1.000,0.000,0,0,0,0.00,0,0,0,...,0,0,1,0,Formulation 10,23.190214,0.881020,0.156765,0.074730,1
10,74,1.000,0.000,0,0,0,0.00,0,0,0,...,0,0,1,0,Formulation 11,1000.000000,0.000000,1.000000,0.000000,0
11,75,1.000,0.000,0,0,0,0.00,0,0,0,...,0,0,1,0,Formulation 12,23.446451,1.058113,0.201713,0.026201,1
12,76,0.862,0.138,0,0,0,0.00,0,0,0,...,0,0,2,0,Formulation 13,1000.000000,0.000000,1.000000,0.000000,0
13,77,1.000,0.000,0,0,0,0.00,0,0,0,...,0,0,1,0,Formulation 14,22.899040,0.187142,0.113366,0.017995,1
14,78,1.000,0.000,0,0,0,0.00,0,0,0,...,0,0,1,0,Formulation 15,1000.000000,0.000000,1.000000,0.000000,0
15,79,1.000,0.000,0,0,0,0.00,0,0,0,...,0,0,1,0,Formulation 16,1000.000000,0.000000,1.000000,0.000000,0

In [11]:
# g/mL
results_final['Solu'] = results_final['Drug'] * 600 / 0.3
results_final['Solu_STD'] = 0

results_final.loc[results_final['Formulation Quality'] == 0, 'Solu'] = 0
results_final

,trial_index,Drug,SL_1,SL_2,SL_3,LL_1,LL_2,LL_3,P_1,P_2,...,Complexity,Complexity_STD,Formulation,Size,Size_STD,PDI,PDI_STD,Formulation Quality,Solu,Solu_STD
0,64,1.000,0.000,0,0,0,0.00,0,0,0,...,1,0,Formulation 1,24.730098,0.422260,0.187481,0.029456,1,2000.0,0
1,65,1.000,0.000,0,0,0,0.00,0,0,0,...,1,0,Formulation 2,1000.000000,0.000000,1.000000,0.000000,0,0.0,0
2,66,1.000,0.000,0,0,0,0.00,0,0,0,...,1,0,Formulation 3,1000.000000,0.000000,1.000000,0.000000,0,0.0,0
3,67,1.000,0.000,0,0,0,0.00,0,0,0,...,1,0,Formulation 4,23.889863,0.641194,0.211722,0.136724,1,2000.0,0
4,68,1.000,0.000,0,0,0,0.00,0,0,0,...,1,0,Formulation 5,23.491139,0.202682,0.179959,0.070910,1,2000.0,0
5,69,1.000,0.000,0,0,0,0.00,0,0,0,...,1,0,Formulation 6,24.658707,0.867646,0.243748,0.074609,1,2000.0,0
6,70,1.000,0.000,0,0,0,0.00,0,0,0,...,1,0,Formulation 7,1000.000000,0.000000,1.000000,0.000000,0,0.0,0
7,71,1.000,0.000,0,0,0,0.00,0,0,0,...,1,0,Formulation 8,23.218624,0.163549,0.175085,0.041483,1,2000.0,0
8,72,0.980,0.000,0,0,0,0.02,0,0,0,...,2,0,Formulation 9,1000.000000,0.000000,1.000000,0.000000,0,0.0,0
9,73,1.000,0.000,0,0,0,0.00,0,0,0,...,1,0,Formulation 10,23.190214,0.881020,0.156765,0.074730,1,2000.0,0
10,74,1.000,0.000,0,0,0,0.00,0,0,0,...,1,0,Formulation 11,1000.000000,0.000000,1.000000,0.000000,0,0.0,0
11,75,1.000,0.000,0,0,0,0.00,0,0,0,...,1,0,Formulation 12,23.446451,1.058113,0.201713,0.026201,1,2000.0,0
12,76,0.862,0.138,0,0,0,0.00,0,0,0,...,2,0,Formulation 13,1000.000000,0.000000,1.000000,0.000000,0,0.0,0
13,77,1.000,0.000,0,0,0,0.00,0,0,0,...,1,0,Formulation 14,22.899040,0.187142,0.113366,0.017995,1,2000.0,0
14,78,1.000,0.000,0,0,0,0.00,0,0,0,...,1,0,Formulation 15,1000.000000,0.000000,1.000000,0.000000,0,0.0,0
15,79,1.000,0.000,0,0,0,0.00,0,0,0,...,1,0,Formulation 16,1000.000000,0.000000,1.000000,0.000000,0,0.0,0

In [12]:
results_normalized = sdl.normalize(results_final)
results_normalized[['Formulation Quality','Size', 'Size_STD', 'Solu', 'Solu_STD', 'PDI', 'PDI_STD','Complexity']]

,Formulation Quality,Size,Size_STD,Solu,Solu_STD,PDI,PDI_STD,Complexity
0,1,0.024730,0.000422,1.0,0.0,0.187481,0.029456,0.083333
1,0,1.000000,0.000000,0.0,0.0,1.000000,0.000000,0.083333
2,0,1.000000,0.000000,0.0,0.0,1.000000,0.000000,0.083333
3,1,0.023890,0.000641,1.0,0.0,0.211722,0.136724,0.083333
4,1,0.023491,0.000203,1.0,0.0,0.179959,0.070910,0.083333
5,1,0.024659,0.000868,1.0,0.0,0.243748,0.074609,0.083333
6,0,1.000000,0.000000,0.0,0.0,1.000000,0.000000,0.083333
7,1,0.023219,0.000164,1.0,0.0,0.175085,0.041483,0.083333
8,0,1.000000,0.000000,0.0,0.0,1.000000,0.000000,0.166667
9,1,0.023190,0.000881,1.0,0.0,0.156765,0.074730,0.083333
10,0,1.000000,0.000000,0.0,0.0,1.000000,0.000000,0.083333
11,1,0.023446,0.001058,1.0,0.0,0.201713,0.026201,0.083333
12,0,1.000000,0.000000,0.0,0.0,1.000000,0.000000,0.166667
13,1,0.022899,0.000187,1.0,0.0,0.113366,0.017995,0.083333
14,0,1.000000,0.000000,0.0,0.0,1.000000,0.000000,0.083333
15,0,1.000000,0.000000,0.0,0.0,1.000000,0.000000,0.083333

In [13]:
results_normalized = sdl.normalize(results_final)
results_normalized[['Formulation Quality','Size', 'Size_STD', 'Solu', 'Solu_STD', 'PDI', 'PDI_STD','Complexity']]

,Formulation Quality,Size,Size_STD,Solu,Solu_STD,PDI,PDI_STD,Complexity
0,1,0.024730,0.000422,1.0,0.0,0.187481,0.029456,0.083333
1,0,1.000000,0.000000,0.0,0.0,1.000000,0.000000,0.083333
2,0,1.000000,0.000000,0.0,0.0,1.000000,0.000000,0.083333
3,1,0.023890,0.000641,1.0,0.0,0.211722,0.136724,0.083333
4,1,0.023491,0.000203,1.0,0.0,0.179959,0.070910,0.083333
5,1,0.024659,0.000868,1.0,0.0,0.243748,0.074609,0.083333
6,0,1.000000,0.000000,0.0,0.0,1.000000,0.000000,0.083333
7,1,0.023219,0.000164,1.0,0.0,0.175085,0.041483,0.083333
8,0,1.000000,0.000000,0.0,0.0,1.000000,0.000000,0.166667
9,1,0.023190,0.000881,1.0,0.0,0.156765,0.074730,0.083333
10,0,1.000000,0.000000,0.0,0.0,1.000000,0.000000,0.083333
11,1,0.023446,0.001058,1.0,0.0,0.201713,0.026201,0.083333
12,0,1.000000,0.000000,0.0,0.0,1.000000,0.000000,0.166667
13,1,0.022899,0.000187,1.0,0.0,0.113366,0.017995,0.083333
14,0,1.000000,0.000000,0.0,0.0,1.000000,0.000000,0.083333
15,0,1.000000,0.000000,0.0,0.0,1.000000,0.000000,0.083333

In [14]:
labeled_data_path = 'data/labeled_' + str(iteration) + '.xlsx'
labeled_norm_path = 'data/labeled_norm_' + str(iteration) + '.xlsx'

In [15]:
results_final.to_excel(labeled_data_path, index=False)
results_normalized.to_excel(labeled_norm_path, index=False)

# Load the labeled data to update the optimizer

In [16]:
labeled_norm = pd.read_excel(labeled_norm_path)
labeled_norm.head()

,trial_index,Drug,SL_1,SL_2,SL_3,LL_1,LL_2,LL_3,P_1,P_2,...,Complexity,Complexity_STD,Formulation,Size,Size_STD,PDI,PDI_STD,Formulation Quality,Solu,Solu_STD
0,64,1.0,0.0,0,0,0,0.0,0,0,0,...,0.083333,0,Formulation 1,0.024730,0.000422,0.187481,0.029456,1,1,0
1,65,1.0,0.0,0,0,0,0.0,0,0,0,...,0.083333,0,Formulation 2,1.000000,0.000000,1.000000,0.000000,0,0,0
2,66,1.0,0.0,0,0,0,0.0,0,0,0,...,0.083333,0,Formulation 3,1.000000,0.000000,1.000000,0.000000,0,0,0
3,67,1.0,0.0,0,0,0,0.0,0,0,0,...,0.083333,0,Formulation 4,0.023890,0.000641,0.211722,0.136724,1,1,0
4,68,1.0,0.0,0,0,0,0.0,0,0,0,...,0.083333,0,Formulation 5,0.023491,0.000203,0.179959,0.070910,1,1,0

In [17]:
ax_client_design = AxClient.load_from_json_file(ax_client_design_path)

In [18]:
loaded_optimizer_path = "optimizer/optimizer_load_" + str(iteration) + ".json"

In [19]:
loaded_ax_client = sdl.load_labeled_data(ax_client_design, labeled_norm_path)
loaded_ax_client.save_to_json_file(loaded_optimizer_path)

[INFO 08-05 06:32:00] ax.service.ax_client: Completed trial 64 with data: {'Solu': (1, 0), 'Size': (0.02473, 0.000422), 'PDI': (0.187481, 0.029456)}.
[INFO 08-05 06:32:00] ax.service.ax_client: Completed trial 65 with data: {'Solu': (0, 0), 'Size': (1.0, 0.0), 'PDI': (1.0, 0.0)}.
[INFO 08-05 06:32:00] ax.service.ax_client: Completed trial 66 with data: {'Solu': (0, 0), 'Size': (1.0, 0.0), 'PDI': (1.0, 0.0)}.
[INFO 08-05 06:32:00] ax.service.ax_client: Completed trial 67 with data: {'Solu': (1, 0), 'Size': (0.02389, 0.000641), 'PDI': (0.211722, 0.136724)}.
[INFO 08-05 06:32:00] ax.service.ax_client: Completed trial 68 with data: {'Solu': (1, 0), 'Size': (0.023491, 0.000203), 'PDI': (0.179959, 0.07091)}.
[INFO 08-05 06:32:00] ax.service.ax_client: Completed trial 69 with data: {'Solu': (1, 0), 'Size': (0.024659, 0.000868), 'PDI': (0.243748, 0.074609)}.
[INFO 08-05 06:32:00] ax.service.ax_client: Completed trial 70 with data: {'Solu': (0, 0), 'Size': (1.0, 0.0), 'PDI': (1.0, 0.0)}.
[INFO 08-05 06:32:00] ax.service.ax_client: Completed trial 71 with data: {'Solu': (1, 0), 'Size': (0.023219, 0.000164), 'PDI': (0.175085, 0.041483)}.
[INFO 08-05 06:32:00] ax.service.ax_client: Completed trial 72 with data: {'Solu': (0, 0), 'Size': (1.0, 0.0), 'PDI': (1.0, 0.0)}.
[INFO 08-05 06:32:00] ax.service.ax_client: Completed trial 73 with data: {'Solu': (1, 0), 'Size': (0.02319, 0.000881), 'PDI': (0.156765, 0.07473)}.
[INFO 08-05 06:32:00] ax.service.ax_client: Completed trial 74 with data: {'Solu': (0, 0), 'Size': (1.0, 0.0), 'PDI': (1.0, 0.0)}.
[INFO 08-05 06:32:00] ax.service.ax_client: Completed trial 75 with data: {'Solu': (1, 0), 'Size': (0.023446, 0.001058), 'PDI': (0.201713, 0.026201)}.
[INFO 08-05 06:32:00] ax.service.ax_client: Completed trial 76 with data: {'Solu': (0, 0), 'Size': (1.0, 0.0), 'PDI': (1.0, 0.0)}.
[INFO 08-05 06:32:00] ax.service.ax_client: Completed trial 77 with data: {'Solu': (1, 0), 'Size': (0.022899, 0.000187), 'PDI': (0.113366, 0.017995)}.
[INFO 08-05 06:32:00] ax.service.ax_client: Completed trial 78 with data: {'Solu': (0, 0), 'Size': (1.0, 0.0), 'PDI': (1.0, 0.0)}.
[INFO 08-05 06:32:00] ax.service.ax_client: Completed trial 79 with data: {'Solu': (0, 0), 'Size': (1.0, 0.0), 'PDI': (1.0, 0.0)}.